//COLORS
$ocean-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(200, 15%, 8%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$light-gray: hsl(0, 0%, 79%);
$dark-gray: hsl(0, 0%, 52%);
$dark-blue: hsl(209, 31%, 15%);
$very-light-gray: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);

//FONTS
$main-font: "Nunito Sans", sans-serif;

//BREAK POINTS
$desktop-screen: 950px;
$tablet-screen: 400px;
